<ion-content>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <span class="titulo">Flow</span>
    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-input placeholder="Email"></ion-input>
    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-input placeholder="Password"></ion-input>
    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-button expand="full" color="secondary">SIGN IN</ion-button>
    </ion-row>
    <ion-row justify-content-center align-items-center style="height: 100%">
      <a class="link" routerLink="/cadastro">Dont't have an account?</a>
    </ion-row>
  </ion-grid>
</ion-content>