ion-content{
    --ion-background-color:#F1F5F6;
}

ion-grid,ion-row{
    height: 100%;
}

#flow {
    color: #e91d29;
    font-family: "Open Sans";
    font-size: 48px;
    font-weight: 800;
    line-height: 65px;
    text-align: center;
}